.header
  &_contacts
    margin-top: 28px
    padding: 0 25px
    display: flex
    justify-content: space-between
    align-items: center
.contacts
  &_links
    display: flex
    align-items: center
.logo
  & img
    width: 100%
.links
  &_item
    margin-right: 30px
  &_phone
    margin-left: 30px
    font-size: 22px
  &_social
    display: flex
    &_item
      margin-right: 16px
      display: flex
      justify-content: center
      align-items: center
      width: 38px
      height: 38px
      background-color: $seckond-color
      border-radius: 50%
      &:last-child
        margin-right: 0
.menu
  margin-top: 30px
  padding: 14px 20px
  display: flex
  justify-content: space-between
  align-items: center
  border: 1px solid #E7EBFF
  border-radius: 40px
  &_burger
    position: relative
    width: 20px
    height: 16px
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    & span
      position: absolute
      top: calc(50% - 1px)
      right: 0
      width: 20px
      height: 2px
      background-color: #646464
      border-radius: 2px
      &::before,
      &::after
        content: ''
        position: absolute
        top: calc(50% - 1px)
        right: 0
        width: 16px
        height: 2px
        background-color: #646464
        border-radius: 2px
      &::before
        transform: translateY(-6px)
      &::after
        transform: translateY(6px)
    &__active
      filter: none
      & span
        background-color: $main-color
        &::before,
        &::after
          background-color: $main-color
  &_links
    &_item
      margin-right: 50px
      &:last-child
        margin-right: 0
  &_search
    display: flex
  &_line
    width: 2px
    height: 26px
    background-color: #E6EBFF
@media (min-width: 992px)
  .links
    &_item
      &:hover
        color: $main-color
  .menu
    &_burger,
    &_search
      &:hover
        cursor: pointer
@media (max-width: 1210px)
  .links
    &_phone
      font-size: 18px
@media (max-width: 991px)
  .logo
    width: 160px
  .links
    &_item,
      display: none
  .menu
    justify-content: space-around
    &_links,
      display: none
    &_line
      &:nth-child(2)
        display: none
@media (max-width: 767px)
  .header
    &_contacts
      margin-top: 12px
      padding: 0 10px
  .links
    &_phone
      font-size: 16px
    &_social
      display: none
  .menu
    margin-top: 10px
@media (max-width: 566px)
  .logo
    width: 130px